.reservation-main{
	background-color:var(--lightblue);
	margin:2rem auto;
	padding:1rem 0rem;
	border-radius: 10px;
	display:flex;
	flex-direction: column;
	border: 0.5px solid var(--darkblue);
	justify-content:center;
	align-items:center;
	font-family:'Encode Sans Semi Condensed', sans-serif;
}
 
.reservation-main h1{
	padding-top:1rem;
}

.reservation-main  h2{
	font-size: 1.2rem;
}

.reservation-main label, .reservation-main p {
	font-size: 1rem;
}

.main__footnote, .reservation-main h1 {
	align-self: flex-start;
	margin-left:1rem;
}

.reservation-main__form{
	display:flex;
	flex-direction:column;
	margin:1rem;
}

.form__days{
	display:flex;
	flex-direction:column;
	flex-wrap:wrap;
	padding:1rem 0;
}
  
input[type=radio] {
	vertical-align: middle;
	position: relative;

	}
			
.form__days > label {
	display: block;
	padding-top:0.5rem;
}

.form__personals{
	display:flex;
	flex-direction:column;
	align-items:flex-start;
	padding:1rem 0;
	grid-row:1/8;
}
  
.form__personals>*{
	width:10rem;
}

.form__personals>input{
margin-bottom:0.7rem;
}

.form__personals>:nth-child(11), .form__personals>:nth-child(15){
	width:25%;
}

.form__food{
	padding-bottom: 1rem;
}

.form__food p{
	padding-bottom:0.7rem;
}

.form__food >label{
	padding-right:0.5rem
}
.form__button{
	width:fit-content;
	padding: 0.7rem;
	margin-top:1.5rem;
	border-radius: 25px;
	margin-left:3.5rem;
	box-shadow:hsl(218, 40%, 45%)
}



/*Här börjar mediaqueries*/

@media screen and (min-width:336px) and (max-width:767px) {
		.reservation-main{
			background-color:var(--lightblue);
			margin:2rem auto;
			padding:1rem 2rem;
			border-radius: 20px;
			display:flex;
			flex-direction: column;
			border: 0.5px solid var(--darkblue);
			justify-content:center;
			align-items:center;
			font-family:'Encode Sans Semi Condensed', sans-serif;
		}
}


@media screen and {
	
}