.program-main{
	display:flex;
	flex-direction: column;
	align-items: center; 
	position: relative;
	height:auto;
	
}

span{
	font-weight: 700;
}

.main__content{
	margin: 1.5rem;
	max-width: 580px;

}
.main__content h1{
	font-size: 2.5rem;
	margin-bottom: 1rem ;
	
}

.main__content h2{
	border-top: 1px solid black;
	margin:2rem 0;
	padding-top: 1.5rem;
}

.main__content > article{
	padding-top:1.5rem;

}
.main__content > article > h3{
	font-size: 1.2rem;
	padding:0.2em 0;
}

.program-main__button{
	margin:1em 0 3em 0 ;
}