*{
	margin:0;
	padding:0;
}

html, body{
		height:100%;
}

body{
	background-color: var(--offwhite)
}
.header{
	background-color: var(--offwhite);
	height:3rem;
}

footer{
	background-color:#00008B;
}